@use '../abstract/variaveis';
@use '../abstract/mixins';

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 2em 0;
    margin-top: 3em;

    .card {
        @include mixins.tamanho-imagem(21em, auto);
        padding: 1em 0;

        img {
            @include mixins.tamanho-imagem(56px, 56px);
            border-radius: 4px
        }

        h2 {
            @include mixins.size-weight-color(1.5rem, 500, variaveis.$branco);
            padding: 1em 0;
        }
        
        p {
            @include mixins.size-weight-color(1rem, 400, variaveis.$branco);
            line-height: 25.6px;
            width: 80%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .cards {
        margin: 0;
        .card {
            width: 17.5em;
        }
    }
}