//CORES
$cor-principal: #899BFF;
$bg-botao: #6477E7;
$azul-escuro: #09090A;
$cinza-escuro: #121212;
$bg-desconto: #0B0C14;
$cl-desconto: #141726;
$cinza: #CCCCCC;
$branco: #FFFFFF;

//FONTES
$fonte-principal: "Plus Jakarta Sans", sans-serif;